## 0. Load imports

In [1]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [2]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.987540,38.903968,20008120,2020/01/14 15:49:55+00,DAY,OTHERS,THEFT F/AUTO,1200 - 1299 BLOCK OF NEAL STREET NE,401081.0,137345.0,...,008802 3,8802.0,Precinct 77,38.903960,-76.987537,NaN,2020/01/14 15:04:04+00,NaN,673713315,NaN
1,-77.004840,38.833739,20008192,2020/01/14 19:43:04+00,DAY,GUN,ASSAULT W/DANGEROUS WEAPON,100 - 165 BLOCK OF MISSISSIPPI AVENUE SE,399580.0,129549.0,...,009803 3,9803.0,Precinct 124,38.833731,-77.004837,NaN,2020/01/14 17:17:37+00,NaN,673713316,NaN
2,-76.999472,38.907644,20008246,2020/01/14 20:09:52+00,EVENING,OTHERS,THEFT/OTHER,400 - 499 BLOCK OF MORSE STREET NE,400046.0,137753.0,...,008803 2,8803.0,Precinct 76,38.907636,-76.999470,NaN,2020/01/10 23:00:00+00,2020/01/14 18:00:44+00,673713317,NaN
3,-76.982729,38.916480,20008501,2020/01/15 03:28:53+00,EVENING,OTHERS,THEFT/OTHER,1500 - 1599 BLOCK OF NEW YORK AVENUE NE,401498.0,138734.0,...,008803 1,8803.0,Precinct 76,38.916472,-76.982727,NaN,2020/01/15 02:31:24+00,NaN,673713318,NaN
4,-76.980077,38.917191,20009148,2020/01/16 04:12:47+00,MIDNIGHT,OTHERS,THEFT/OTHER,1600 - 1779 BLOCK OF NEW YORK AVENUE NE,401728.0,138813.0,...,008803 1,8803.0,Precinct 76,38.917184,-76.980074,NaN,2020/01/16 01:15:36+00,2020/01/16 01:19:54+00,673713319,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [3]:
a = [1,2,3]
b = ["a","b","c"]

In [7]:
fake_dict = dict( zip(a,b) )

fake_dict[1]

'a'

In [14]:
"QSS" in "QSS20"

True

In [16]:
list_classes = ["QSS20", "QSS17", "QSS45", "ECON1", "CS31", "CS74"]

In [18]:
empty_list = []
for c in list_classes:
    if "QSS" in c:
        empty_list.append(c)
        
empty_list

['QSS20', 'QSS17', 'QSS45']

In [20]:
[ c for c in list_classes if "QSS" in c  ]

['QSS20', 'QSS17', 'QSS45']

#### Warm-up: Ways to add 100 to column X

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new column--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

### Transforming column types

**Task**: check the type of the `START_DATE` column

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows